@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Karla';
    src: url('./fonts/Karla/Karla-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Karla';
    src: url('./fonts/Karla/Karla-Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Karla';
    src: url('./fonts/Karla/Karla-Italic.woff2') format('woff2');
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: 'Karla';
    src: url('./fonts/Karla/Karla-BoldItalic.woff2') format('woff2');
    font-weight: 700;
    font-style: italic;
}

@font-face {
    font-family: 'Source Sans Pro';
    src: url('./fonts/SourceSansPro/SourceSansPro-Regular.woff2')
        format('woff2');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Source Sans Pro';
    src: url('./fonts/SourceSansPro/SourceSansPro-Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Source Sans Pro';
    src: url('./fonts/SourceSansPro/SourceSansPro-Italic.woff2') format('woff2');
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: 'Source Sans Pro';
    src: url('./fonts/SourceSansPro/SourceSansPro-BoldItalic.woff2')
        format('woff2');
    font-weight: 700;
    font-style: italic;
}
